<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotBeans - {title}</title>
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="{styleLink}">
</head>
<body>
    <header>
        <a href="../home/home.html">
            <img height="70" src="../public/images/hotbeans-logo.png" alt="HotBeans Web Design Logo">
        </a>

        <!-- Apply the 'nav-current' style to the corresponding a tag. -->
        <a href="{}">Home</a>
        <a href="{}">Courses</a>
        <a href="{}">Trainees</a>
        <a href="{}">Jobs</a>
    </header>

    <main></main>
</body>
</html>