@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



:root {
    --navbar-height: 93px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

header {
    display: flex;
    text-align: center;
    width: 100vw;
    background-color: #343434;
    height: var(--navbar-height);
    justify-content: center;
    font-weight: bold;
}

img {
    position: absolute;
    left: 0;
    top: calc(var(--navbar-height) / 8);
}

header a {
    margin: auto 0;
    color: #B5B5B5;
    text-decoration: none;
    margin-left: 40px;
    font-size: 23px;
}

header .nav-current {
    color: white;
}

h1 {
  font-weight: 900;
  font-size: 150px;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 50px;
  margin: 0;
}