@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./public/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


:root {
    --navbar-height: 93px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    background-color: #272727;
    color: white;
}

select, input, textarea {
    box-sizing: border-box;
}

header {
    display: flex;
    text-align: center;
    width: 100vw;
    background-color: #343434;
    height: var(--navbar-height);
    justify-content: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

header img {
    position: absolute;
    left: 30px;
    top: calc(var(--navbar-height) / 8);
}

header a {
    margin: auto 0;
    color: #B5B5B5;
    text-decoration: none;
    margin-left: 40px;
    font-size: 23px;
}

header .nav-current {
    color: white;
}

h1 {
  font-weight: 900;
  font-size: 130px;
}

h2 {
  font-weight: 200;
  font-size: 50px;
  text-align: left;
}

h3 {
    font-weight: 600;
    font-size: 50px;
}

p {
    font-weight: normal;
    font-size: 35px;
}

input {
    color: white;
}

button {
    outline: none;
    cursor: pointer;
    width: 285px;
    height: 65px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    transition: all 0.2s ease;
    background-color: #0066FF;
}

button:hover {
    background-color: #00378a;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 210px;
    margin-top: 85px;
}

.info h3 {
    text-align: center;
}