.input-container {
    text-align: center;
}

input {
    margin-top: 40px;
    width: 80vw;
    height: 75px;
    border-radius: 5px;
    padding: 0px 20px;
    outline: none;
    font-size: 25px;
    font-weight: 300;
    border: none;
    background-color: #505050;
    margin-bottom: 70px;
}

input::placeholder {
    color: #E2E2E2;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px;
}

.courses-container div {
    width: 500px;
    height: 370px;
    background-color: #2D2C2C;
    padding: 22px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.courses-container img {
    width: 480px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.courses-container div p {
    font-size: 25px;
    text-align: left;
}

.courses-container div button {
    border: none;
    width: 150px;
    height: 60px;
    position: absolute;
    bottom: 20px;
}

@media only screen and (max-width: 1400px) {
    .courses-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 70%;
    }
}